<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class=" row card-wrapper">
    <div class=" col-lg-4" *ngFor="let varieties of varietiesList; let i = index">
      <div class=" card"><img alt="Image placeholder" class=" card-img-top" src="{{api}}{{varieties.Img}}">
        <ul class=" list-group list-group-flush">
          <li class=" list-group-item"><strong>พันธุ์ทุเรียน</strong> {{varieties.Name}}</li>
          <li class=" list-group-item"><strong>เนื้อ</strong> {{varieties.Meat}}</li>
          <li class=" list-group-item"><strong>กลิ่น</strong> {{varieties.Smell}}</li>
          <li class=" list-group-item"><strong>รสชาติ</strong> {{varieties.Flavor}}</li>
          <li class=" list-group-item"><strong>ระยะอร่อย</strong> {{varieties.DeliciousTerm}}</li>
        </ul>
        <div class=" card-body">
          <h3 class=" card-title mb-3">คำอธิบาย</h3>
          <p class=" card-text mb-4"> {{varieties.Decs}}</p>
          <button class=" btn btn-google-plus btn-icon" type="button"
            (click)="openVarietiesDetail(VarietiesDetail,varieties)">
            <span class=" btn-inner--icon"><i class="ni ni-basket"></i></span><span class=" btn-inner--text">
              ตะกร้าสินค้า + </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #VarietiesDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{varieties.Name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">เกรด</label>
      <mat-select [(ngModel)]="gradeCode" (ngModelChange)="gradeOnChange()" name="ConfigValue" class="form-control form-control-alternative">
        <mat-option *ngFor="let GradeOfVarieties of GradeOfVarietiesList; let i = index;" [value]="GradeOfVarieties.ConfigValue">
          {{GradeOfVarieties.ConfigDisplay}}
        </mat-option>
      </mat-select>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">ราคา</label>
      <input type="number" class="form-control" [value]="unit == 1 ? price : price * 1000" id="price" name="price" disabled style="text-align: end;">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">จำนวน</label>
      <input type="number" class="form-control" [(ngModel)]="amount" id="amount" name="amount" (ngModelChange)="calculatePrice()" style="text-align: end;">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">หน่วย</label>
      <mat-select class="form-control" name="unit" [(ngModel)]="unit" (ngModelChange)="calculatePrice()">
        <mat-option [value]="1">กิโลกรัม</mat-option>
        <mat-option [value]="2">ตัน</mat-option>
      </mat-select>
    </div>
    <div class="mb-3">
      <label for="totalPrice" class="form-label">ราคารวม</label>
      <input type="number" class="form-control" [(ngModel)]="totalPrice" id="totalPrice" name="totalPrice"  disabled style="text-align: end;">
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="save()">เพิ่มไปยังตะกร้าสินค้า</button>
    <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">ปิด</button>
  </div>
</ng-template>