<button mat-raised-button matBadge="{{countShoppingCart}}" matBadgeHidden="{{countShoppingCart==0}}"
    matBadgeColor="warn" class="btn btn-pinterest btn-icon-only rounded-circle" type="button"
    (click)="openShoppingCart(ChoppingCart)"><span class=" btn-inner--icon"><i class="ni ni-basket"></i></span></button>





<!-- Modal -->
<ng-template #ChoppingCart let-modal>
    <div class="modal-header">
        <h4 class="modal-title">ตะกร้าสินค้า</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">รายการ</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <form>
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">พันธุ์ทุเรียน</th>
                                    <th scope="col">เกรด</th>
                                    <th scope="col" style="text-align: end">ราคา</th>
                                    <th scope="col" style="text-align: end" width="200">จำนวน (Kg)</th>
                                    <th scope="col" style="text-align: end">ราคารวม</th>
                                    <th scope="col">คำสั่ง</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let shoppingCartIn of shoppingCartList; let i = index">
                                    <th scope="row">
                                        {{i+1}}
                                    </th>
                                    <td>
                                        {{shoppingCartIn.VarietiesName}}
                                    </td>
                                    <td>
                                        {{shoppingCartIn.GradeName}}
                                    </td>
                                    <td style="text-align: end;">
                                        {{shoppingCartIn.SellingPrice | number : "1.2-2"}}
                                    </td>
                                    <td>
                                        <input type="number" class="form-control"
                                            [(ngModel)]="shoppingCartList[i].Amount" (ngModelChange)="changePrice(i)"
                                            id="Amount[{{i}}]" name="Amount[{{i}}]" min="1" style="text-align: end;">
                                    </td>
                                    <td style="text-align: end;">
                                        {{shoppingCartIn.TotalPrice | number : "1.2-2"}}
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-danger btn-sm"
                                            (click)="deleteShoppingCartList(shoppingCartIn)">ลบ</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="5" style="text-align: end;">
                                        ราคารวมสุทธิ
                                    </th>
                                    <td style="text-align: end;">
                                        {{sumTotalPrice | number : "1.2-2"}}
                                    </td>
                                    <td>
                                        บาท
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="AddressText">บ้านเลขที่, หมู่,
                                            ซอย</label>
                                        <textarea id="AddressText" name="AddressText" [(ngModel)]="order.AddressText"
                                            class="form-control form-control-alternative"
                                            placeholder="999 หมู่ 88"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="ProvinceID">จังหวัด</label>
                                        <mat-select [(ngModel)]="order.ProvinceID" name="ProvinceID" (ngModelChange)="getDistrict()"
                                            class="form-control form-control-alternative">
                                            <mat-option [value]="0">เลือกจังหวัด</mat-option>
                                            <mat-option *ngFor="let sProvince of provinceList"
                                                [value]="sProvince.ProvinceID">
                                                {{sProvince.NameInThai}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="DistrictID">อำเภอ</label>
                                        <mat-select [(ngModel)]="order.DistrictID" name="DistrictID"  (ngModelChange)="getSubDistrict()" [disabled]="order.ProvinceID==0?true:false"
                                            class="form-control form-control-alternative">
                                            <mat-option [value]="0">เลือกอำเภอ</mat-option>
                                            <mat-option *ngFor="let sDistrict of districtList"
                                                [value]="sDistrict.DistrictID">
                                                {{sDistrict.NameInThai}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="SubDistrictID">ตำบล</label>
                                        <mat-select [(ngModel)]="order.SubDistrictID" name="SubDistrictID" [disabled]="order.DistrictID==0?true:false"
                                            class="form-control form-control-alternative">
                                            <mat-option [value]="0">เลือกตำบล</mat-option>
                                            <mat-option *ngFor="let sSubDistrict of subDistrictList"
                                                [value]="sSubDistrict.SubDistrictID">
                                                {{sSubDistrict.NameInThai}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="save()">ยืนยัน</button>
        <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">ปิด</button>
    </div>
</ng-template>