<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <div id="header" class="container">
            <a href="#" class="image featured"><img src="./assets/home/images/fb0d7a77-ec27-46a0-9911-acac76697203.jpg" alt=""></a>
        </div>

        <!-- Hero -->
        <section id="hero" class="container">
            <header>
                <h2>ระบบสั่งจองทุเรียน</h2>
            </header>
            <p>--------------------------------------------------</p>
            <ul class="actions">
                <li><button type="button" class="button" [routerLink]="['/shop']">สั่งจองตอนนี้</button></li>
            </ul>
        </section>

    </div>

    <div class="wrapper">
        <div class="container" id="main">

            <!-- Content -->
            <article id="content"  *ngFor="let aFeed of feedList; let i = index">
                <header>
                    <h2>{{aFeed.Title}}</h2>
                </header>
                <div class="image featured"><img src="{{api}}{{aFeed.Img}}" alt="" class="img-thumbnail"></div>
                <p [innerHTML]="aFeed.Text | nl2br : true"></p>
                <hr/>
            </article>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer-wrapper" style="text-align: center;">
        <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>