<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{auth.Name}}</h1>
        <p class="text-white mt-0 mb-5">นี่คือหน้าโปรไฟล์ของคุณ คุณสามารถแก้ไขข้อมูลของคณได้ โดยการคลิก "Edit profile"
        </p>
        <button class="btn btn-info" (click)="isEditSave()" *ngIf="!isEdit">Edit profile</button>
        <button class="btn btn-primary" (click)="isEditSave(); saveUser();" *ngIf="isEdit">บันทึก</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{auth.Name}}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">ข้อมูล ผู้ใช้</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control form-control-alternative"
                      placeholder="Username" [value]="user.Username" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">ชื่อ-สกุล</label>
                    <input type="email" id="name" name="name" class="form-control form-control-alternative"
                      placeholder="jesse@example.com" [(ngModel)]="user.Name" [disabled]="!isEdit">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">ข้อมูลติดต่อ</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">ที่อยู่</label>
                    <textarea id="AddressText" name="AddressText" [(ngModel)]="user.AddressText"
                      class="form-control form-control-alternative" placeholder="999 หมู่ 88"
                      [disabled]="!isEdit"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="ProvinceID">จังหวัด</label>
                    <mat-select [(ngModel)]="user.ProvinceID" name="ProvinceID" (ngModelChange)="getDistrict()"
                      class="form-control form-control-alternative" [disabled]="!isEdit">
                      <mat-option [value]="0">เลือกจังหวัด</mat-option>
                      <mat-option *ngFor="let sProvince of provinceList" [value]="sProvince.ProvinceID">
                        {{ sProvince.NameInThai }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="DistrictID">อำเภอ</label>
                    <mat-select [(ngModel)]="user.DistrictID" name="DistrictID" (ngModelChange)="getSubDistrict()"
                      [disabled]="(user.ProvinceID == 0 ? true : false) || !isEdit"
                      class="form-control form-control-alternative">
                      <mat-option [value]="0">เลือกอำเภอ</mat-option>
                      <mat-option *ngFor="let sDistrict of districtList" [value]="sDistrict.DistrictID">
                        {{ sDistrict.NameInThai }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="SubDistrictID">ตำบล</label>
                    <mat-select [(ngModel)]="user.SubDistrictID" name="SubDistrictID"
                      [disabled]="(user.DistrictID == 0 ? true : false) || !isEdit"
                      class="form-control form-control-alternative">
                      <mat-option [value]="0">เลือกตำบล</mat-option>
                      <mat-option *ngFor="let sSubDistrict of subDistrictList" [value]="sSubDistrict.SubDistrictID">
                        {{ sSubDistrict.NameInThai }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>