<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header border-0">
                    <h3 class=" mb-0">รายการสั่งจอง</h3>
                </div>
                <div class=" table-responsive">
                    <table class=" table align-items-center table-flush">
                        <thead class=" thead-light">
                            <tr>
                                <th class=" sort" data-sort="name" scope="col">Project</th>
                                <th class=" sort" data-sort="budget" scope="col">Budget</th>
                                <th class=" sort" data-sort="status" scope="col">Status</th>
                                <th scope="col">Users</th>
                                <th class=" sort" data-sort="completion" scope="col"> Completion </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class=" list">
                            <tr>
                                <th scope="row">
                                    <div class=" media align-items-center"><a class=" avatar rounded-circle mr-3"
                                            href="javascript:void(0)"><img alt="Image placeholder"
                                                src="assets/img/theme/bootstrap.jpg"></a>
                                        <div class=" media-body"><span class=" name mb-0 text-sm"> Argon Design System
                                            </span></div>
                                    </div>
                                </th>
                                <td class=" budget">$2500 USD</td>
                                <td><span class=" badge badge-dot mr-4"><i class=" bg-warning"></i><span
                                            class=" status"> pending </span></span></td>
                                <td>
                                    <div class=" avatar-group"><a class=" avatar avatar-sm rounded-circle"
                                            href="javascript:void(0)" placement="top" tooltip="Ryan Tompson"
                                            aria-describedby="tooltip-0"><img alt="Image placeholder"
                                                src="assets/img/theme/team-1.jpg"></a><a
                                            class=" avatar avatar-sm rounded-circle" href="javascript:void(0)"
                                            placement="top" tooltip="Romina Hadid" aria-describedby="tooltip-1"><img
                                                alt="Image placeholder" src="assets/img/theme/team-2.jpg"></a><a
                                            class=" avatar avatar-sm rounded-circle" href="javascript:void(0)"
                                            placement="top" tooltip="Alexander Smith" aria-describedby="tooltip-2"><img
                                                alt="Image placeholder" src="assets/img/theme/team-3.jpg"></a><a
                                            class=" avatar avatar-sm rounded-circle" href="javascript:void(0)"
                                            placement="top" tooltip="Jessica Doe" aria-describedby="tooltip-3"><img
                                                alt="Image placeholder" src="assets/img/theme/team-4.jpg"></a></div>
                                </td>
                                <td>
                                </td>
                                <td class=" text-right">
                                    <div class="dropdown no-caret" dropdown=""><a aria-controls="dropdown-basic"
                                            class=" btn btn-sm btn-icon-only text-light dropdown-toggle"
                                            dropdowntoggle="" href="javascript:void(0)" role="button"
                                            aria-haspopup="true"><i class=" fas fa-ellipsis-v"></i></a>
                                        <!---->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>