<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 card-setting" (click)="mode('varieties','พันธุ์ทุเรียน')"
                    style="cursor: pointer;">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">จัดการ</h5>
                                    <span class="h2 font-weight-bold mb-0">พันธุ์ทุเรียน</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                        <i class="fas fa-atom"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 card-setting" (click)="mode('price','ราคาทุเรียน')"
                    style="cursor: pointer;">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">จัดการ</h5>
                                    <span class="h2 font-weight-bold mb-0">ราคาทุเรียน</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-money-bill-wave"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 card-setting" (click)="mode('stock','สต๊อก')"
                    style="cursor: pointer;">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">จัดการ</h5>
                                    <span class="h2 font-weight-bold mb-0">สต๊อก</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-money-bill-wave"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">จัดการ</h6>
                            <h2 class="mb-0">{{modeTitle}}</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-varieties *ngIf="modeCode == 'varieties'"></app-varieties>
                    <app-price *ngIf="modeCode == 'price'"></app-price>                    
                    <app-stock *ngIf="modeCode == 'stock'"></app-stock>
                </div>
            </div>
        </div>
    </div>
</div>