<form>
    <h6 class="heading-small text-muted mb-4" *ngIf="!isEdit">เพิ่ม</h6>
    <h6 class="heading-small text-muted mb-4" *ngIf="isEdit">แก้ไข</h6>
    <div class="alert alert-warning" *ngIf="isEdit" role="alert">
        <span class=" alert-icon"><i class="ni ni-settings"></i></span>
        <strong>แก้ไข</strong> -> กดบันทึก เพื่อ บันทึกการแก้ไข
    </div>
    <div>
        <div class="row">
            <div class="col-xl-10 col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Name">ชื่อพันธุ์ทุเรียน</label>
                            <input type="text" id="Name" name="Name" [(ngModel)]="varieties.Name"
                                class="form-control form-control-alternative" placeholder="ชื่อพันธุ์ทุเรียน">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Img">รูปพันธุ์ทุเรียน</label>
                            <input type="file" id="Img" name="Img" #takeInput (change)="setFromFile($event)"
                                accept="image/*" class="form-control form-control-alternative">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Meat">เนื้อ</label>
                            <input type="text" id="Meat" name="Meat" [(ngModel)]="varieties.Meat"
                                class="form-control form-control-alternative" placeholder="เนื้อ">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Smell">กลิ่น</label>
                            <input type="text" id="Smell" name="Smell" [(ngModel)]="varieties.Smell"
                                class="form-control form-control-alternative" placeholder="กลิ่น">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Flavor">รสชาติ</label>
                            <input type="text" id="Flavor" name="Flavor" [(ngModel)]="varieties.Flavor"
                                class="form-control form-control-alternative" placeholder="รสชาติ">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="DeliciousTerm">ระยะอร่อย</label>
                            <input type="text" id="DeliciousTerm" name="DeliciousTerm"
                                [(ngModel)]="varieties.DeliciousTerm" class="form-control form-control-alternative"
                                placeholder="ระยะอร่อย">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="Decs">คำอธิบาย</label>
                            <textarea id="Decs" name="Decs" [(ngModel)]="varieties.Decs"
                                class="form-control form-control-alternative" placeholder="คำอธิบาย"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-12">
                <div class="form-group">
                    <label class="form-control-label" for="saveButton">คำสั่ง</label>
                    <button
                        class="form-control form-control-alternative btn {{(isEdit ? 'btn-warning' : 'btn-primary')}}"
                        (click)="save()" id="saveButton">บันทึก</button>
                </div>
                <div class="form-group">
                    <button class="form-control form-control-alternative btn btn-danger" (click)="cancel()"
                        id="saveCancel">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card bg-default shadow">
    <div class="card-header bg-transparent border-0">
        <form>
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <input type="text" id="searchName" name="searchName" [(ngModel)]="searchName" class="form-control"
                        placeholder="ค้นหา : ชื่อพันธุ์ทุเรียน">
                </div>
                <div class="col-xl-3 col-lg-4">
                    <button class="form-control btn btn-info" id="searchButton" (click)="search()">ค้นหา</button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" width="70">ละดับ</th>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">รูป</th>
                    <th scope="col">เนื้อ</th>
                    <th scope="col">กลิ่น</th>
                    <th scope="col">รสชาติ</th>
                    <th scope="col">ระยะอร่อย</th>
                    <th scope="col">คำอธิบาย</th>
                    <th scope="col" width="70">คำสั่ง</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let varieties of varietiesList; let i = index">
                    <th>
                        {{i+1}}
                    </th>
                    <td>
                        {{varieties.Name}}
                    </td>
                    <td>
                        <img src="{{api}}{{varieties.Img}}" height="50" class="rounded float-start" alt="...">
                    </td>
                    <td width="15%" style="white-space:pre-wrap; min-width: 100px;">
                        {{varieties.Meat}}
                    </td>
                    <td width="15%" style="white-space:pre-wrap; min-width: 100px;">
                        {{varieties.Smell}}
                    </td>
                    <td width="15%" style="white-space:pre-wrap; min-width: 100px;">
                        {{varieties.Flavor}}
                    </td>
                    <td width="15%" style="white-space:pre-wrap; min-width: 100px;">
                        {{varieties.DeliciousTerm}}
                    </td>
                    <td width="40%" style="white-space:pre-wrap; min-width: 320px;">
                        {{varieties.Decs}}
                    </td>
                    <td>
                        <div ngbDropdown container="body">
                            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>จัดการ</button>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="edit(varieties)">แก้ไข</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem (click)="delete(varieties.VarietiesID)">ลบ</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>