<li class="nav-item" ngbDropdown placement="bottom-right">
    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
        <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="assets/img/theme/team-4-800x800.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{auth.Name}}</span>
            </div>
        </div>
    </a>
    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu  *ngIf="auth.UserID > 0">
        <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
        </div>
        <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
        </a>
        <div class="dropdown-divider"></div>
        <button (click)="logout()" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
        </button>
    </div>
    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu  *ngIf="auth.UserID===undefined">
        <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
        </div>
        <a routerLinkActive="active" [routerLink]="['/login']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Log In</span>
        </a>
    </div>
</li>